    //footers de Index, y Galerias 1, 2 y 3
.footers {
    color: black;
    text-align: start;
    position: relative;

    left: 3%;
    background: none;

    h4, p {
        font-size: 13px;
    }
    
}
