@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body {
    font-family: 'Kaushan Script', cursive;
    font-weight: 300;
    background-color: white;
    max-width: 1560px;
    
}


